export ADDR=":3000"
export DB_NAME="appdb"
export DB_PORT="5432"
export DB_USER="postgres"
export DB_PASSWORD="545687"
export DB_WAY="postgres://$DB_USER:$DB_PASSWORD@localhost/$DB_NAME?sslmode=disable"
